<include file="common/header" title="文章" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/highlightJS/styles/atelier-cave.dark.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/SweetAlert/dist/sweetalert2.css">
<script src="__PUBLIC__/SweetAlert/dist/sweetalert2.js"></script>

<script type="text/javascript" src="__PUBLIC__/Js/detailArticle.js"></script>
<script type="text/javascript">
    var showArticle = "{:U('Article/showArticle')}"; 
    var commentUrl = "{:U('Article/saveComment')}";
    var deleteUrl = "{:U('Article/deleteArticle')}?id={$list.id}";
</script>
<include file="common/nav" />

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-9 column">
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="{:U('Article/detailArticle')}?id={$list.id}">{$list.title}</a></h2>

                    <p class="blog-post-meta">{$list.create_time|strtotime|date="F d",###} by <a href="{:U('Resume/resume')}?id={$list.uid}">{$list.username}</a>
                    <a class="pull-right" href="{:U('Article/editArticle')}?id={$list.id}">编辑</a>
                    
                    <a class="pull-right" href="" id="deleteArticle">删除&nbsp;&nbsp;&nbsp;</a>
                    </p>
                    </p>

                    <p class="blog-post-meta">
                        <foreach name="tags" item="t">
                            <span class="label">{$t.name|trim=###}</span>&nbsp;
                        </foreach>                    
                    </p> 

                    <hr>
                    <p>{$list.content|htmlspecialchars_decode=###}</p>
                </div>
                <!--commoentInput-->
                <br>
                <br>
                <br>
                <form role="form" id="comment">
                    <legend>发布评论</legend>
                        <div class="form-group">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="comment">输入评论</label>
                            <textarea class="form-control" rows="3" name="comment_text"></textarea>
                        </div>
                        <input type="hidden" value="{$list.id}" name="article_id">
                        <button type="button" class="btn btn-success" id="sub_comment">Submit</button>
                </form>
                <br>
                <br>
                <br>
                <div>
                <foreach name="comment" item='c'>
                    <legend>
                    <if condition="$c.uid eq 0">
                        匿名用户
                    <else/>
                        {$c.uid}
                    </if>
                    </legend>
                    <div>
                        {$c.content}
                    </div>
                <br>
                <br>
                </foreach>
                </div>
            </div>
            <include file="common/sidebar"/>    
        </div>
    </div>
</div>
</body>
</html>