<include file="common/header" title="发布文章"/>
<!--引入wangEditor.css-->
<script type="text/javascript">
    var detailArticle = "{:U('Article/detailArticle')}";
    var saveArticleUrl = "{:U('Article/saveArticle')}";
    var classUrl = "{:U('Article/saveClassification')}";
    var uploadImgUrl = "{:U('Article/uploadPic')}";
</script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wangEditor/css/wangEditor.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/highlightJS/styles/atelier-cave.dark.css">
<script type="text/javascript" src="__PUBLIC__/wangEditor/js/lib/emotions.js"></script>
<script type="text/javascript" src="__PUBLIC__/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/writeArticle.js"></script>

<include file="common/nav"/>
<!--modal -->
<div class="modal fade" id="addClassification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加分类</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" id="classification" placeholder="Enter classification">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close_btn">Close</button>
                <button type="button" class="btn btn-primary" id="add_class">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--modal end -->
<!--main -->
<div class="container">
    <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="title">文章标题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="文章标题">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="20" id="writearticle"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="classification">分类</label>
                        <div>
                            <select name="classification" class="form-control">
                                <option value="0" id="choose">选择分类</option>
                                <foreach name="classification" item="cla">
                                    <option value="{$cla.id}">{$cla.classification}</option>
                                </foreach>
                                <option value="add" id="add">新建分类</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tag">标签</label>
                        <div class="tagsinput-primary">
                            <input type="text" class="tagsinput form-control " data-role="tagsinput" name="tag" style="display: none;" placeholder="标签">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="checkbox" for="my-checkbox">
                            <input type="checkbox" value="" name="my-checkbox" id="my-checkbox" data-toggle="checkbox" class="custom-checkbox">
                            <span class="icons">
                                <span class="icon-unchecked"></span>
                                <span class="icon-checked"></span>
                            </span>
                            设为私密
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left: 0px">
                            <button type="button" id="publish_btn" class="btn btn-success"><span
                                    class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;&nbsp;发布
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    <include file="common/footer"/>
</div>

<!--main end-->
</body>
</html>