<!-- /.blog-sidebar -->
<div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module">
        <h4>分类</h4>
        <ol class="list-unstyled">
            <foreach name="classificationL" item="v">
                <li><a href="#">{$v.classification}</a></li>
            </foreach>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
        </ol>
    </div>
</div>
        <!-- /.blog-sidebar -->