<!-- Blog Sidebar Widgets Column -->
<div class="col-md-3">

    <!-- Blog Categories Well -->
    <div class="well">
        <h4 class="center-block">Blog Categories</h4>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <foreach name="classificationL" item="v">
                        <if condition="$v.classification neq null">
                            <li class="center-block"><a href="#">{$v.classification}</a>&nbsp;
                                <span class="badge">
                                    {$v.classification_num}
                                </span>
                            </li>
                            <hr/>
                        </if>
                    </foreach>
                </ul>
                <h4>Side Widget Well</h4>
                <hr/>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
                    laudantium odit aliquam repellat tempore quos aspernatur vero.
                </p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

</div>
<!-- /.blog-sidebar -->