<include file="common/header" title="关于"/>
<script type="text/javascript" src="__PUBLIC__/JS/about/about.js"></script>
<style>
	.media-left, .media>.pull-left {
		padding-right: 20px;
	}
	.media-heading{
		position: relative;
		right: -20px;
	}

</style>
<include file="common/nav"/>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-3">
			<foreach name="versionL" item="version">
				<div class="media">
					<div class="media-left media-middle">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
					<div class="media-left media-middle">
						&nbsp;{$version.modify_time}
					</div>
					<div class="media-body">
						<h3 class="media-heading">V {$version.version}</h3>
						{$version.content|htmlspecialchars_decode=###}
					</div>
				</div>
				<hr/>
			</foreach>
		</div>
		<include file="Home@common/footer"/>
	</div>
</div>
</body>
</html>